.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.trybewarts-header-logo {
  width: 60px;
}
.trybewarts-login {
  display: flex;
}
main {
  display: flex;
}
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}
#trybewarts-forms-logo {
  height: 500px;
}
hr {
  width: 100%;
}
#radio {
  display: flex;
  flex-direction: column;
}
