* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  background-color: rgb(95, 177, 156);
}

main {
  display: inline-block;
  border: black solid 1px;
  padding: 30px;
}

.header-trybe {
  /* display: block; */
  /* text-align: center; */
  height: 100px;
  border: black 1px solid;
  margin-bottom: 25px;
  /* estilização posterior */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  color: rgb(98, 202, 150);
  width: 80%;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
}

.header-trybe img {
  margin-top: 12px;
  margin-right: 12px; /* estilização posterior */
  height: 70px;
}

/* estilização posterior */
main {
  background-color: rgb(250, 250, 250);
  width: 80%;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
  display: flex;
  justify-content: space-around;
}

.form-section {
  text-align: left;
  margin: 15px auto;
  /* estilização posterior */
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-form, .list-section {
  margin: 25px;
  color: rgb(73, 73, 73);
  /* font-size: 25px; */
  /* estilização posterior */
  height: 40%;
  width: 40%;
  padding: 20px;
}

.list-section {
  text-align: center;
}

button {
  width: 30%;
  /* padding: 20px; */
  margin-top: 20px;
  /* font-size: 18px; */
  /* estilização posterior */
  background-color: rgb(98, 202, 150);
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: large;
}

li {
  text-align: left;
  margin-bottom: 5px;
  padding:10px;
  /* font-size:25px; */
  border: black 1px solid;
}

ol {
  /* display: inline-block; */
  list-style-type: none;
  margin-top:15px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

textarea {
  box-sizing: content-box;
  padding: 10px;
}
